<nav class="menubar navbar navbar-expand-lg bg-body-tertiary">
    <div class="menubar container-fluid">
    <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button> -->
    <div class="navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="/projects/list">List</a>
        <a class="nav-link active" aria-current="page" href="/projects/reset">Reset</a>
        <a class="nav-link active" aria-current="page" href="/projects/create?name=testname&description=testdescription">Create</a>
        <a class="nav-link active" aria-current="page" href="/projects/flashtest">testflash</a>
        </div>
    </div>
    </div>
</nav>